.restaurantContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
  }
.Items{
    border: 2px solid black;
    padding: 10px;
    background-color: antiquewhite;
    display: flex;
    color: black;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
.Information{
    display: column;
    font-size: 40px;
    margin-left: 15%;
  }
  
.Desc{
    font-size: 15px;
  }
  
.searchBarContainer{
    display: flex;
    padding: 20px;
    background-color:rgb(236, 98, 121);
  }

.searchInput {
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}


.searchBarItems{
    width: 400px;
    background-color: rgb(245, 23, 97);
    font-size: 15px;
    padding: 15px;
    flex-direction: column;
    position: relative;
  }
  
.name{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:rgb(236, 98, 121);
    width: 1880px;
    height: 100px;
  }
  
.restaurantPic{
    margin-left:30px;
    width:350px;
    height:350px;
    border: 3px solid black;
  }
  
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.LinkDecoration {
    text-decoration: none;
  }
