.restaurantContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: 25% 25% 25%;
    justify-content: center;
    width: 900px;
    margin-left:200px;
  }
  .Items{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    color: black;
    align-items: center;
    min-width: 1000px;
    cursor: pointer;
  }
  
  .Tiedot{
    display: column;
    font-size: 40px;
    margin-left: 15%;
  }
  
  .Desc{
    font-size: 15px;
  }
  
  .searchBarContainer{
    display: flex;
    padding: 20px;
    background-color:rgb(236, 98, 121);
  }
  
  .searchBarItems{
    width: 400px;
    background-color: rgb(245, 23, 97);
    font-size: 15px;
    padding: 15px;
    flex-direction: column;
    position: relative;
  }
  
  .name{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:rgb(236, 98, 121);
    width: 1880px;
    height: 100px;
  }
  
  .searchButton {
    font-size: 15px;
    border: 5px solid black;
    padding:20px;
  }

  .restaurantPic{
    margin-left:30px;
    width:350px;
    height:350px;
    border: 2px solid black;
  }
  
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }