.restaurantCont{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left:500px;
    width: 20%;
}

.ownedRestaurants{
    display: flex;
    flex-direction: column;
    float: left;
}

.inputDesc{
    width:200px;
    float: left;
    margin-left:50px;
    align-items: center;
}

input{
    margin-left:10px;
}

.manageTitle{
    margin-left:50px;
    text-decoration: underline;
}

.savebtn{
    margin-top:10px;
    width:100px;
    margin-left:80px;
    background-color: white;
    color:black;
    border: 2px solid #4CAF50;
    border-radius:10px;
    cursor: pointer;
}

.savebtn:hover{
    background-color:#4CAF50;
    color:white;
}

.savebtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.deletebtn{
    margin-top:10px;
    width:100px;
    margin-left:80px;
    background-color: white;
    color:black;
    border: 2px solid #fd3b00;
    border-radius:10px;
    cursor: pointer;
}

.deletebtn:hover{
    background-color:#fd3b00;
    color:white;
}

.deletebtn:active{
    background-color: #fd3b00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dropdown{
    margin-left:5px;
    height:75px;
}
.tuoteCont{
    display: flex;
    flex-direction: column;
    margin-left:500px;
    float: left;
}

.itemsForDelete{
    margin-left:100px;
}

.deleteCont{
    display:flex;
    flex-direction: column;
    width:400px;
    align-items: center;
}

.customerContainer{
    margin-left:800px;
    width: 400px;
    height:300px;
}

.btnShowPwd{
    margin-top:20px;
    width:80px;
    background-color: white;
    color:black;
    border: 2px solid #e5ff00;
    border-radius:10px;
    cursor: pointer;
    float:right;
    font-size: 12px;
}

.btnShowPwd:hover{
    background-color:#e5ff00;
    color:white;
}

.btnShowPwd:active{
    background-color: #e5ff00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.saveCont{
    margin-left:800px;
}