.productMainContainer{
  display: flex;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 4%;
  background-color: rgba(224, 222, 222, 0.726);
  border: 3px solid black;
  
}
.productContainer {
  display: column;
  padding: 10px;
  width: 100%;
  margin-right: 5%;
}

.products {
  display: flex;
  border: 2px solid black;
  font-size: 15px;
  width: 500px;
  font-weight: bolder;
  padding: 20px;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  background-color: rgba(245, 174, 108, 0.673);
}

.shoppingCartContainer {
  display: column;
  padding: 10px;
  width: 30%;
  border-left: 3px solid black;
}

.shoppingCartItems {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgba(0, 0, 0, 0.568);
  background-color: rgb(255, 83, 83);
  font-weight: bolder;
  font-size: 15px;
  padding: 20px;
  margin-bottom: 5%;
}

.subTitle {
  font-size: 40px;
  text-align: center;
  font-weight: Bold;
  font-style: italic;
  border-bottom: 1px solid black;
}

.subButtons{
  height: 30%;
  background-color: green;
  border-radius: 8px;
  margin-top: 10px;
  font-Size: 30px;
}

.recapitulationContainer {
  display: column;  
  border-top: 2px solid;
  padding: 20px; 
  font-size: 20px;
  font-weight: bold;
}

.recapitulation {
  display: column;
}

.red{
  background-color: red;
}

.infoTxt {
  color: red
}

.blue {
  background-color: rgb(7, 65, 255);
}
.productImg{
  width:250px;
  height:195px;
  border: 2px solid black;
  margin-top: 50px;
}

.header{
display: flex;
padding: 20px;
font-size: 40px;
font-weight: bolder;
background-color:rgb(236, 98, 121);
width: 100%;
}

.inputDesc{ 
margin-left:4px;
}

.productCont1 {
  justify-content: center;
  display: flex;
}

.productCont2 {
  display: column;
  width: 100%;
}








