.receiptContainer{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
  }

.clients_receipt{
  border: 1px solid pink;
  padding: 50px;
  width: 400px;
  margin-left: 30%;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 30px;
}
